<%= form_tag coupons_path do %>
    <h1>Coupon Form</h1>

    <label for="store">Coupon store:</label>
    <%= text_field_tag :"coupon[store]" %>

    <label for="coupon_code">Coupon code:</label>
    <%= text_field_tag :"coupon[coupon_code]" %>

    <%= submit_tag "Submit Coupon" %>
<% end %>  